/* New Pallette

#f2f1ef White
#90674e Brown
#3a3436 Grey
#d8be91 Brown
#ba2127 Red
#9b3230 Red
#827f7f Grey
#6d2924 Brown
#451e19 Brown
#fed8d9 Pink

*/


head{
    color: firebrick;
    padding: 20px;
}






/* Nav Styling*/

nav{
  width: 100%;
  height: 50px;
  position: fixed;
  background-color: #3a3436;
  top: 0;
  left: 999; 
}

nav>ul{
  width: 50%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  
}

nav>ul>li{
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  line-height: 40px;
}

nav>ul>li>a{
  display: block;
  color: #CC2E2E    ;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

nav>ul>li>a:hover{
  background-color: #827f7f;
  padding: 5px;
}
  

  
/*End Nav Styling*/

p>a {
    color: white;
    
}

p>a:hover {
    color: aqua;
}

body{
 padding: 0;
 margin: 0;
}

.wrap {
    position: relative;
    min-height: 100%;
}


footer {
  padding: 10px;
  text-align: center;
  color: black;
}



html{
    background-color: #3a3436;
    text-align: center;
}


html, body{
  height: 100%;
}

h1{
    font-family: serif;
    color: #CC2E2E;
    font-size: 50px;
    text-align: center;
    text-decoration: inherit;
    padding: 30px;
}

h2, h3 {
  font-family: Verdana;  color: #CC2E2E;
  font-size: 15px;
  text-align: center;
  padding: 20px 5px;
}

h4 {
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 5px;
    
}


p{
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  padding: 20px;
}




.shamelessplug {
color: #FFFFFF  ;
    padding: 5px;
}
  
.icons {
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
  
}

.icons.instagram {
    color: white;
    font-size: 50px;
    padding: 5px;
    border-radius: 10px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949   45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    }

.pinterest {
    background-color: white;
    color: #cb2027;
    font-size: 50px;
    padding: 5px;
    border-radius: 10px;
}



/* CONTACT FORM STYLING*/
  
contact-title{
  margin-top:100px;
  color: black;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}


.contact-title h4 {
  font-size: 32px;
  line-height: 10px;
}

.contact-title h5 {
  font-size: 16px;
}

form {
  margin-top:50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
  
}

input {
  height: 45px;
}

form .submit {
  background-color: #ff5722;
  border-color: transparent;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #f44336;
  cursor: pointer;
}

/*END CONTACT FORM STYLING*/

.TextWrap {
text-align: center;
}

/* Styling for img gallery */
  
  
div.gallery {
  display: inline-block;
  border: 1px solid #777;
}

div.gallery:hover {
  border: 1px solid #ccc;
}

div.gallery img {
  width: 300px;
  height: 300px;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 10px 6px;
  float: left;
  width: 24.99999%;
  max-width: 100%;
  height: auto;
}
}

@media only screen and (max-width: 500px) {
  .responsive {

    margin: 6px 0;
  }
}

    @media only screen and (max-width: 700px) {
      .responsive {
        width: 50%;
      }
    }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* End Styling for img gallery */

/* Footer alignement */
section:after {
  content: "";
  display: table;
  clear: both;
}


/*Index images and  styling*/

.img1 {
  /* The image used */
  background-image: url("Images%20and%20Info/fog.png");
}

.img2 {
  /* The image used */
  background-image: url("Images and Info/nizwa.jpg");
}

.img3 {
  /* The image used */
  background-image: url("Images and Info/navajo.jpg");
}

.img1, .img2, .img3 {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* End Index images and styling*/


@media only screen and (max-width: 480px) {
  body {

    margin: auto;
  }
}

